#external-events {
  margin-top: 100px !important;
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 200px;
}

#calendar {
  margin-top: 100px !important;
  max-width: 900px;
  margin: 0 auto;
}

.centered {
  width:70em;
  margin: auto;
  position: relative;
  top:2em;
}

.error {
  margin: auto 2em;
  margin-top: 10em;
}